@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";

#section-white h3{
	font-size: 24px;
	text-align: center;
	margin-bottom: 40px;
}

table{
	background-color: #FFFFFF;
	font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
	margin: 0 auto;
}

table #tableHead{
	font-size: 18px;
	border-bottom: 2px solid black;
}

table tr{
	font-size: 15px;
	border-bottom: 2px solid black;
}

table tr td{
	padding: 10px;
}

table tr td img{
	padding-left: 10px;
	padding-right: 10px;
}

.form-equipe label {
  display: inline-block;
  width: 60px;
  font-size: 19px;
  margin-right: 25px;
  text-align: left;
}​

.form-equipe label {
  display: inline-block;
  width: 60px;
  font-size: 19px;
  margin-right: 25px;
  text-align: left;
}​

.form-equipe input{
	width: 100px;
	height: 10px;
	border-radius: 10px;
}

.form-equipe input[type="submit"]{
	width: 100px;
	height: 30px;
	margin-top: 15px;
	border: 2px solid #515151;
	padding-bottom: 38px;
	padding-left: -15px;
	font-size: 18px;
	border-radius: 10px;
	background-color: #ffffff;
}

.form-equipe input[type="submit"]:hover{
	background-color: #ec1c24;
	color: #FFFFFF;
}