/** GLOBAL CSS **/


/** CADRE FICHE **/

#section-white #resume-voiture {
	background-color: #3f3f3f;
	display: inline-block;
	width: 28%;
	float: left;
	padding-left: 1%;
	padding-right: 5%;
	margin-left: 2%;
	margin-top: 3%;
	color: white;
	border-radius: 15px 15px 15px 15px;
}

#section-white #resume-voiture p {
	display: block;
	padding-left: 5px;
}

#section-white #resume-voiture h3 {
	display : block;
	margin-right: 50%;
	padding-left: 5px;
}

#section-white #resume-voiture  img#vehselect {
	width : 100%;
	height : 40%;
	display : block;
}

#section-white #resume-voiture img {
	width : 25px;
	height : 25px;
	float : left;
	padding-left: 5px;
	padding-right: 5px;
}

#section-white #liste-option {
	width : 62%;
	height : 25%;
	display: inline-block;
	float: right;
	margin-top: 3%;
	margin-left: 2%;
	padding-right: 6%;
}

#section-white #liste-option ul > li {
	display: block;
	list-style: none;
	margin-bottom: 15%;
}

#section-white #liste-option p {
	left-padding : 3%;
	display: inline-block;
	font-family : sans-serif;
	font-size: 150%;
}

#section-white #liste-option b {
	padding-left: 62%;
	display: inline-block;
	font-family : sans-serif;
	font-size: 200%;
}

#section-white #liste-option ul > li > p {
	display: inline-block;
	margin-bottom: 5%;
	margin-left: 10%;
	font-family : sans-serif;
	font-size: 150%;
	margin-top: 5%;
}

#section-white #liste-option ul > li > select {
	outline: none;
	-webkit-appearance: none;
	margin-bottom: 5%;
	margin-top: 4%;
	margin-right: 20%;
	padding : 1% 1% 1% 1%;
	transition: border-color 0.2s;
	border: 2px solid;
	border-radius: 5px;
	background: #fff;
	color: #555;
	line-height: normal;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;

	display : inline-block;
	float : right;
}

#section-white #liste-option ul > li > span {
	float : right;
	font-size: 130%;
	margin-top: 5%;
	margin-bottom: 5%;	
	margin-left: 0%;
	font-family : sans-serif;
	display : inline-block;
	vertical-align: center;
}

#section-white #liste-option ul > li > img {
	display: inline-block;
	width : 15%;
	height : 15%;
	float : left;
}

#section-white #liste-option ul > li > input {
	margin-bottom: 5%;
	margin-top: 4%;
	margin-right: 20%;
	display : inline-block;
	float : right;
}

#section-white #section-paiement {
	float : right;
	width: 68%;
	margin-left: 2%;
	margin-right: 2%;
	padding-right: 2%;
}

#section-white #section-paiement small {
	text-align: left;
	display: inline-block;
	margin-bottom: 1%;
}

#section-white #validepaiement {
	font-family : 'Verdana';
	font-size : 160%;
	display: block;
	margin: 0 auto;
	background-color: #960018;
	color : white;
	cursor: pointer;
	padding: 10px;
	outline: 0;
	border: none;
    border-radius: 30px;
    margin-bottom: 2%;
    transition: 1s;
}

#section-white #section-paiement p {
	padding-left: 10%;
	display: inline-block;
	font-family : sans-serif;
	font-size: 150%;
}

#section-white #validepaiement:hover {
	background-color: #ec1c24;
	transition: 0.3s;
}

#section-white #section-paiement b {
	padding-left: 60%;
	display: inline-block;
	font-family : sans-serif;
	font-size: 200%;
	margin-bottom: 3%;
}
