/** GLOBAL CSS **/

#head-black{
	width: 100%;
	height: auto;
	padding-top: 60px;
	padding-bottom: 54px;
	margin-bottom: -40px;
	background-color: #1e1d1d;
	display: block;
}

#head-black h2{
	text-align: center;
	color: #ffffff;
	padding-top: 40px;
	text-align: center;
	margin-bottom: -35px;
	font-size: 1.2em;
}

#head-black h2 span{
	color: #ec1c24;
}

/** CADRE FICHE **/



/** OPTIONS FICHE **/