.panel-heading {
  width: 100%;
  height : 35px;
  margin-bottom: 2%;
}


#formulairePaiement{
  width: 80%;
  min-height: 550px;
  margin-left: 10%;
  margin-right: 10%;
}

#formulairePaiement input {
  width: 30%;
  margin-bottom: 1%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline;
}

#formulairePaiement select {
  width: 10%;
  margin-bottom: 1%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#annee {
  width: 10%;
  margin-left: 112px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#formulairePaiement label {
  font-style: bold;
  float: left;
  padding: 12px 12px 12px 0;
}

#formulairePaiement span {
  color: red;
  max-width: 40%;
  margin-left: 3%;
}

#formulairePaiement button {
  font-family : 'Verdana';
  font-size : 20px;
  display: block;
  margin-left : 43%;
  background-color: #960018;
  color : white;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 30px;
  margin-top: 80px;
  margin-bottom: 2%;
  transition: 1s;
}

#formulairePaiement button:hover {
background-color: #ec1c24;
transition: 0.3s;
}

.cards{
    padding-left:0;
}

.cards li {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  background-image: url('//c2.staticflickr.com/4/3713/20116660060_f1e51a5248_m.jpg');
  background-position: 0 0;
  float: left;
  height: 32px;
  margin-right: 8px;
  text-indent: -9999px;
  width: 51px;
}
.cards .mastercard {
  background-position: -51px 0;
}

.cards .amex {
  background-position: -102px 0;
}

.cards li:last-child {
  margin-right: 0;
}
/* images end */



/*
 * BOOTSTRAP
 */
.container{
    border: none;
}
.panel-footer{
    background:#fff;
}
.btn{
    border-radius: 1px;
}
.btn-sm, .btn-group-sm > .btn{
    border-radius: 1px;
}
.input-sm, .form-horizontal .form-group-sm .form-control{
    border-radius: 1px;
}

.panel-info {
    border-color: #999;
    margin-right: 20%;
    margin-left: 20%;
}

.panel-heading {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  background-color: #2B2A2A;
  margin-bottom: 40px;
  
}

.panel-heading .fa{
  color: white;
  padding-right: 10px;
}

.panel-heading span.title{
  font-size: 22px;
}

.panel {
    border-radius: 1px;
}

#remerciements {
  display: none;
}


hr {
    border-color: #999 -moz-use-text-color -moz-use-text-color;
}

.panel-footer {
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-top: 1px solid #999;
}

.btn-link {
    color: #888;
}

hr{
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-control {
    border-radius: 1px;
}


/* Voici les règles à appliquer aux champs invalides */
input:invalid{
  border-color: #900;
  background-color: #FDD;
}

input:focus:invalid {
  outline: none;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0 ,0 , 0); /* Fallback color */
  background-color: rgba(0 ,0 ,0 ,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgb(206, 22, 22);
  margin: 20% auto; /* 15% from the top and centered */
  padding-left : 30px;
  padding-top: 30px;
  border: 1px solid #888;
  width: 60%;
  min-height: 7%;
  height: 10%;
}

.modal-content p {
  font-size : 120%;
  font-family: 'Quicksand', sans-serif;
  color : white;
}

/* The Close Button */

.modal-content > span {
  float: right;
  font-size: 35px;
  font-weight: bold;
  padding-right: 20px;
}

.modal-content > span:hover, .modal-content > span:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

