
#remerciement {
  margin-top: 5%;
  margin-right: 10%;
  margin-left: 10%;
  height: 350px;
}

#remerciement .btnPdf{
  background: url('../ico/pdf.png');
  background-size: cover;
  border: none;
  width: 70px;
  height: 70px;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 110%;
}

b {
  font-family: 'Quicksand', sans-serif;
  font-size: 150%;
}